* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

/* Estilo para el título */
.navbar-brand {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}

.form-control {
    border: none;
    border-radius: 30px;
}

.btn-outline-success {
    border-color: white;
    color: rgb(255, 255, 255);
}

.btn-outline-success:hover {
    background-color: #ffffff;
    color: #3498db;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

footer a:hover {
    color: red;
}